.checkbox {
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 21px !important;

  color: #334680 !important;
}
