

.container {
  padding: 2rem 7rem 0 7rem;

  background: #F6F7FB;

  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;

  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;

  color: #282538;
}

.header p {
  font-weight: 700;
  margin-right: 0.5rem;
}

.header span {
  font-weight: 400;
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 65%;

  margin-top: 2.625rem;
}

.location {
  margin-left: 0.75rem !important;
}

.jobsList {
  background-color: blueviolet;

  margin-left: 2rem;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;

    background: #F6F7FB;

    /* height: 100vh;  */
    /* width: 100vw; */
  }

  .header {
    display: flex;

    font-family: Poppins;
    font-size: 24px;
    line-height: 36px;

    color: #282538;
  }

  .header p {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  .header span {
    font-weight: 400;
  }
}
